.content {
    flex: 1 0 auto;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
    max-width: 800px;
    text-align: center;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.about .desc {
    font-size: 18px;
    line-height: 1.8;
    color: #7e7d7d;
    text-align: justify;
    text-indent: 30px; 
}


