.player-card {
    background: #ffffff;
    padding: 35px;
    width: 700px;
    max-width: 100%;
    text-align: center;
}

.play-wrapper {
    width: 700px;
    max-width: 100%;
    height: 200px;
    margin: 0 auto 20px auto;
    background-image: url('../img/uzi-desktop-player.png');
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-main {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.btn-main img {
    width: 60px;
    height: 60px;
    display: block;
    object-fit: contain;
}

.volume-min {
    height: 30px;
    transition: all 0.3s ease;
}

.volume-max {
    height: 24px;
    transition: all 0.3s ease;
}

.volume-min:hover,
.volume-max:hover {
    opacity: 0.6; 
    filter: brightness(0.5);
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.btn:hover {
    transform: scale(1.1);
    color: #888;
}

.side-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.progress-container {
    margin: 25px 0;
}

.progress-slider {
    width: 100%;
    accent-color: #000000;
    height: 6px;
    cursor: pointer;
    border-radius: 10px;
}

.time-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #999;
    margin-top: 8px;

}

.volume-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 50px;
}

.volume-slider {
    accent-color: #000000;
    width: 100px;
}

.playlist {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: left;
    border-top: 1px solid #eee;
}

.playlist li {
    padding: 15px;
    border-bottom: 1.938px solid #d8d8d859;
    cursor: pointer;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.playlist li.active {
    color: #ffffff;
    background: #000000;
}

#current-title {
    font-size: 1rem;
    word-break: break-word;
    max-width: 60%;
}
#playPauseBtn {
    display: block;
    width: 50px;  /* Задайте размеры кнопки */
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

