.player-card {
    background: #ffffff;
    padding: 35px;
    width: 420px;
    max-width: 100%;
    text-align: center;
}

.play-wrapper {
    width: 350px;
    max-width: 100%;
    height: 200px;
    margin: 0 auto 20px auto;
    background-image: url('../img/uzi-playlist-img.png');
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-main {
    font-size: 80px !important;
    line-height: 1 !important;
    color: #ffffff !important;
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #444;
    margin: 20px 0;
    font-size: 1.2rem;
}

.btn {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    color: #888;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.1);
    color: #000000;
}

.side-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.progress-container {
    margin: 25px 0;
}

.progress-slider {
    width: 100%;
    accent-color: #000000;
    height: 6px;
    cursor: pointer;
    border-radius: 10px;
}

.time-info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #999;
    margin-top: 8px;

}

.volume-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 50px;
}

.volume-slider {
    accent-color: #000000;
    width: 100px;
}

.playlist {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    text-align: left;
    border-top: 1px solid #eee;
}

.playlist li {
    padding: 15px;
    border-bottom: 1.938px solid #d8d8d859;
    cursor: pointer;
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

.playlist li.active {
    color: #ffffff;
    background: #000000;
}

#current-title {
    font-size: 1rem;
    word-break: break-word;
    max-width: 60%;
}