@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* Текст виден сразу, пока грузится шрифт */
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/static/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Hero */
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-pages {
    position: relative;
    height: 280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-bg-pages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero-bg.png') center/cover;
    background-position: center;
    z-index: 1;
}

@media (max-width: 768px) {
    .hero-pages {
        height: 150px;
    }
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/hero-bg.png') center/cover;
    background-position: bottom;
    z-index: 1;
}

.hero-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50vh;
    max-width: 90%;
    width: auto;
    z-index: 5;
    display: flex;
    align-items: center;
}

.hero-logo img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    filter: drop-shadow(0 0 10px red);
    object-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;

}

.floating-img {
    width: auto;
    height: 20vh;
    max-width: 300px;
    margin-top: 5vh;
    margin-bottom: 20px;
    object-fit: contain;
    filter: drop-shadow(0 0 10px red);
}

/* Hero Nav */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    z-index: 10;
    box-sizing: border-box;
    text-transform: uppercase;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #b30000;
    transition: width 0.35s ease;
}

@media (hover: hover) {
    .navbar ul li a:hover::after {
        width: 100%;
    }
}

.logo,
.logo-mobile-page {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 #c40000, -2px 2px 0 #c40000, 2px -2px 0 #c40000, -2px -2px 0 #c40000;
}

.logo-mobile-page {
    display: none;
    position: absolute;
    text-align: center;
    z-index: 4;
}

@media (max-width: 768px) {
    .logo-mobile-page {
        display: block;
    }
}

/* Ссылки */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    opacity: 0.8;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.nav-links a:hover {
    opacity: 1;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Nav Focus/Hover Siblings */
.nav-links:hover a {
    opacity: 0.3;
    filter: blur(1px);
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 1 !important;
    filter: blur(0);
    transform: scale(1.1);
}

/* //Nav Focus/Hover Siblings */
.nav-links a.nav-active {
    color: red;
    font-weight: bold;
}

/* Hero Nav */
/* //Hero */

/* Хлебные крошки */
.breadcrumb-nav {
    padding: 15px 80px;
    background-color: transparent;
}

@media screen and (max-width: 700px) {
    .breadcrumb-nav {
        padding: 15px 40px;
    }
}

@media screen and (max-width: 450px) {
    .breadcrumb-nav {
        padding: 15px 20px;
    }
}

.breadcrumbs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    color: #7e7d7d;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    margin: 0 10px;
    color: #555;
}

.breadcrumb-item a {
    color: #7e7d7d;
    text-decoration: none;
    transition: 0.3s;
}

.breadcrumb-item a:hover {
    color: #575757;
}

.breadcrumb-item.active {
    color: #070707;
    pointer-events: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;

}

footer {
    width: 100%;
    flex: 0 0 auto;
    background: #000;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
    color: #a9a9a9;
    text-align: center;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-nav a {
    text-decoration: none;
    color: #7e7d7d;
    font-size: 16px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #ffffff;
}

.copyright {
    margin: 0;
    font-size: 14px;
    color: #555;
}